body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: lightgoldenrodyellow;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

h1 {
    text-align: center;
    color: darkslateblue;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
/*    padding-right: 10px;*/
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}



input:focus, select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
